@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');



body {
    font-family: 'Josefin Sans', cursive;
    overflow: scroll
}

.App {
    text-align: center;
    font-size: 1.2rem;
}